
body {
    background-image: linear-gradient(hsl(273, 75%, 66%), hsl(240, 73%, 65%));
    background-repeat: no-repeat;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: 'Kumbh Sans', sans-serif;
}

main {
    width: 50%;
    height: 500px;
    background-color: white;
    border-radius: 25px;
    display: flex;
    align-items: center;
}

.pics {
    height: 100%;
    width: 50%;
    overflow: hidden;
    position: relative;
}
#lady {
    position: absolute;
    right: 18%;
    bottom: 15%;
    
}

#bg {
    position: absolute;
    right: 18%;
    top: -58%;
}

#box {
    position: absolute;
    top: 45%;
    left: 20.2%
}

.faq {
    width: 50%;
    height: 100%;
}

span {
    border-bottom: 1px solid hsl(240, 5%, 91%);
    display: block;
}
p {
    /* hsl(237, 12%, 33%) */
    color: hsl(240, 6%, 50%);
}